body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 80px;
}

h1 {
  font-size: 40px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(97, 0, 97);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

button:hover {
  background-color: violet;
}